.main-header {
    height: 4rem;
    background-color: $clr-bone;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;

        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: $clr-primary;

            &:hover {
                color: lighten($clr-primary, 10%)
            }
        }
    }

}